a,
body,
button,
div,
h1,
h2,
h3,
h4,
h5,
h6,
html,
img,
input,
label,
li,
p,
select,
span,
textarea input,
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  min-height: 100%;
}
html {
  background: #00c091 !important;
}
.mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .3);
  height: 100%;
  z-index: 21;
}
